@model HomeViewModel

@if (Model.HasEntries())
{
    for (int i = 0; i < Model.MovieInfo.NumberOfPages; i++)
    {
        if (i != Model.MovieInfo.PageIndex)
        {
            <a asp-controller="Home"
               asp-action="Index"
               asp-route-searchQuery="@Model.SearchQuery"
               asp-route-pageIndex="@i">@(i + 1)</a>
        }
        else
        {
            @(i + 1)
        }
    }
}