@model MovieAggregatedContentDTO

<h3>@Model.Info.Title (@Model.Info.Year)</h3>
<img src="@Url.Content(Model.Info.Poster)" style="width:150px;height:250px"/>
<iframe 
        src="@Model.Trailer.EmbedURL" 
        width="560" height="315" frameborder="0" allowfullscreen></iframe>