@model HomeViewModel

@{
    ViewBag.Title = "MovieAggregator Client";
}

<div>
    <form method="post">
        <div>
            <label asp-for="SearchQuery"></label>
            <input asp-for="SearchQuery" />
        </div>
        <div>
            <input type="submit" value="search" />
        </div>
    </form>
</div>

@if (Model.MovieInfo != null)
{
    @Html.Partial("_MovieDetails", Model.MovieInfo)
}