@model HomeViewModel

@{
    ViewBag.Title = "MovieAggregator Client";
}

<div>
    <form method="post">
        <div>
            <label asp-for="SearchQuery"></label>
            <input asp-for="SearchQuery" />
            <input type="submit" value="Search" />
        </div>
    </form>
</div>

@if (Model.HasEntries())
{
    foreach (var entry in Model.MovieInfo.Entries)
    {
        @Html.Partial("_MovieDetails", entry)
    }
}