@model HomeViewModel

@{
    ViewBag.Title = "MovieAggregator Client";
}

<div>
    <form method="post">
        <div>
            <label asp-for="SearchQuery"></label>
            <input asp-for="SearchQuery" />
            <input type="submit" value="Search" />
        </div>
    </form>
</div>

@if (Model.HasEntries())
{ 
    foreach (var entry in Model.MovieInfo.Entries)
    {
        @Html.Partial("_MovieDetails", entry)
    }

    for (int i = 0; i < Model.MovieInfo.NumberOfPages; i++)
    { 
        <a asp-controller="Home" 
           asp-action="ShowPage" 
           asp-route-searchQuery="@Model.SearchQuery"
           asp-route-pageIndex="@i">@(i+1)</a>
    }
}